{
    "extends": "airbnb",
    "rules": {
      "import/no-named-as-default": 0,
      "import/no-named-as-default-member": 0,
      "react/jsx-filename-extension": [1, { "extensions": [".js"] }]
    },
    "globals": {
        "document": false,
        "FileReader": false
    }
}