{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "rules": {
    "import/no-named-as-default": 0,
    "import/no-named-as-default-member": 0,
    "import/no-unresolved": 0,
    "jsx-a11y/alt-text": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "no-return-assign": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  },
  "globals": {
    "document": false,
    "FileReader": false
  }
}
