.board {
	box-shadow: 0px 6px 27px 0px rgba(23, 23, 23, 0.12);
	width: 568px;
	height: 597px;
	z-index: 1;
	background: #fcfcfc;
	border-radius: 15px;
	position: fixed;
	top: 46%;
	left: 50%;
	transform: translate(-50%, -50%);

	.border {
		width: 12px;
		height: 12px;
		background: #fcfcfc;
		display: inline-block;
		position: absolute;
		border: 1px solid #808080;
		&.top-left{
			top: 3.5%;
		    left: 2.75%;
		    border-width: 0px 1px 1px 0px;
		}
		&.top-right{
		    top: 3.5%;
		    left: 94.98%;
		    border-width: 0px 0px 1px 1px;
		}
		&.bottom-right{
		    top: 91.3%;
		    left: 95%;
		    border-width: 1px 0px 0px 1px;
		}
		&.bottom-left{
			top: 91.3%;
		    left: 2.75%;
		    border-width: 1px 1px 0px 0px;
		}
	}
	p{
		font-size: 14px;
		font-family: $SanFranciscoTextMedium;
		text-align: center;
		margin-top: 10px;
		color: #808080;
		.text-regular{
			color: #b2b2b2;
		}
	}
	.parent-board{
		/*width: 512px;
		height: 512px;
		overflow: scroll;
		margin-left: 30px;*/
	}
	.board-resultat{	
		position: relative;
		width: 512px;
		height: 512px;
		background-color: #b3b3b3;
		margin: 10px auto 0;
		/*@include gradient(#ff0000, #c20000);*/
		background-size: cover;
		background-repeat: no-repeat;
		// background-attachment: fixed;
		background-position: top left;
		text-align: center;
		overflow: hidden;
		.lines-grid{
			opacity: 0.25;
			.verticale{
				transform: translate(0%, 256px);
				position: absolute;
			    top: 0;
			    width: 100%;
			}
			.horizontale{
			    transform: rotate(90deg);
			    position: absolute;
			    width: 508px;
			    top: 48.3%;
			}
		}
		img, svg{
			width: 100%;
			height: inherit;
			cursor: move;
		}
		.item{
			list-style:none;
			display: inline-block;
			position: absolute;
			width: 64px;
			height: 64px;
			border: 1px solid rgba(0, 0, 0, 0);
			&:hover{
				border: 1px dashed rgba(255, 255, 255, 0.8);
				/*display: inline-block;*/
			}
		}
	}
	.icons-board{
		width: 285px;
		height: 226px;
		display: inline-block;
		background-image: url('../img/icons/cloud.png');
		margin-top: 144px;
	}
	.outils{
		margin: 8px 38px 0 38px;
		.color{
			&:hover{
				border: 1px solid #81aa05;
				cursor: pointer;
			}
			width: 102px;
			height: 32px;
			line-height: 32px;
			font-family: $SanFranciscoTextSemibold;
			border-radius: 3px;
			float: left;
			margin-right: 15px;
			text-align: left;
			.color-icon{
				background-image: url('../img/icons/color.png');
				width: 17px;
				height: 17px;
				display: inline-block;
				float: left;
    			margin: 8px 10px 0 19px;
			}
		}	
		.delete{
			&:hover{
				background: #c70101;
				cursor: pointer;
				outline: 0;
			}
			width: 36px;
			height: 32px;
			border: 1px solid #dd0000;
			display: inline-block;
			border-radius: 4px;
			@include gradient(#ff002a, #dd0000);
			text-align: center;
			line-height: 39px;
			.delete-icons{
				background-image: url('../img/icons/delete.png');
				width: 14px;
				height: 18px;
				display: inline-block;
			}
		}
		.icons-radius{
			background-image: url('../img/icons/radius.png');
			width: 20px;
			height: 20px;
			display: inline-block;
			float: left;
			margin: 8px 8px 0 0;
		}
		select{
			&:hover{
				border: 1px solid #999999;
				cursor: pointer;
			}
			option{
				&:first-child{
					display: none;
				}
			}
			padding-left: 7px;
			float: left;
			width: 104px;
			height: 34px;
			border: 1px solid $grayBorder;
			border-radius: 3px;
			outline: 0;
			margin-right: 19px;
			font-family: $SanFranciscoTextMedium;
			color: #666;
			font-size: 14px;
			@include gradient($white, #f1f1f1);
		}
		.left{
			float: left;
			position: relative;
			.popover{
				bottom: 37px;
			}
		}
		.right{
			float: right;
		}
		.grid{
			&:hover{
				background: #2a2929;
				cursor: pointer;
			}
			background-color: #4b4b4b;
			width: 38px;
			height: 34px;
			display: inline-block;
			text-align: center;
			line-height: 38px;
			border-radius: 4px;
			border: 0;
    		outline: 0;
			.lignes{
				background-image: url('../img/icons/grid.png');
				width: 16px;
				height: 16px;
				display: inline-block;
			}
		}
	}
}	