/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$1-name: '1';
$1-x: 285px;
$1-y: 159px;
$1-offset-x: -285px;
$1-offset-y: -159px;
$1-width: 64px;
$1-height: 64px;
$1-total-width: 451px;
$1-total-height: 378px;
$1-image: '../../img/sprite.png';
$1: (285px, 159px, -285px, -159px, 64px, 64px, 451px, 378px, '../../img/sprite.png', '1', );
$2-name: '2';
$2-x: 344px;
$2-y: 226px;
$2-offset-x: -344px;
$2-offset-y: -226px;
$2-width: 64px;
$2-height: 64px;
$2-total-width: 451px;
$2-total-height: 378px;
$2-image: '../../img/sprite.png';
$2: (344px, 226px, -344px, -226px, 64px, 64px, 451px, 378px, '../../img/sprite.png', '2', );
$3-name: '3';
$3-x: 349px;
$3-y: 159px;
$3-offset-x: -349px;
$3-offset-y: -159px;
$3-width: 64px;
$3-height: 64px;
$3-total-width: 451px;
$3-total-height: 378px;
$3-image: '../../img/sprite.png';
$3: (349px, 159px, -349px, -159px, 64px, 64px, 451px, 378px, '../../img/sprite.png', '3', );
$4-name: '4';
$4-x: 152px;
$4-y: 226px;
$4-offset-x: -152px;
$4-offset-y: -226px;
$4-width: 64px;
$4-height: 64px;
$4-total-width: 451px;
$4-total-height: 378px;
$4-image: '../../img/sprite.png';
$4: (152px, 226px, -152px, -226px, 64px, 64px, 451px, 378px, '../../img/sprite.png', '4', );
$5-name: '5';
$5-x: 216px;
$5-y: 226px;
$5-offset-x: -216px;
$5-offset-y: -226px;
$5-width: 64px;
$5-height: 64px;
$5-total-width: 451px;
$5-total-height: 378px;
$5-image: '../../img/sprite.png';
$5: (216px, 226px, -216px, -226px, 64px, 64px, 451px, 378px, '../../img/sprite.png', '5', );
$6-name: '6';
$6-x: 280px;
$6-y: 226px;
$6-offset-x: -280px;
$6-offset-y: -226px;
$6-width: 64px;
$6-height: 64px;
$6-total-width: 451px;
$6-total-height: 378px;
$6-image: '../../img/sprite.png';
$6: (280px, 226px, -280px, -226px, 64px, 64px, 451px, 378px, '../../img/sprite.png', '6', );
$all-name: 'all';
$all-x: 335px;
$all-y: 290px;
$all-offset-x: -335px;
$all-offset-y: -290px;
$all-width: 35px;
$all-height: 35px;
$all-total-width: 451px;
$all-total-height: 378px;
$all-image: '../../img/sprite.png';
$all: (335px, 290px, -335px, -290px, 35px, 35px, 451px, 378px, '../../img/sprite.png', 'all', );
$android-name: 'android';
$android-x: 370px;
$android-y: 290px;
$android-offset-x: -370px;
$android-offset-y: -290px;
$android-width: 30px;
$android-height: 34px;
$android-total-width: 451px;
$android-total-height: 378px;
$android-image: '../../img/sprite.png';
$android: (370px, 290px, -370px, -290px, 30px, 34px, 451px, 378px, '../../img/sprite.png', 'android', );
$bg-name: 'bg';
$bg-x: 183px;
$bg-y: 327px;
$bg-offset-x: -183px;
$bg-offset-y: -327px;
$bg-width: 31px;
$bg-height: 30px;
$bg-total-width: 451px;
$bg-total-height: 378px;
$bg-image: '../../img/sprite.png';
$bg: (183px, 327px, -183px, -327px, 31px, 30px, 451px, 378px, '../../img/sprite.png', 'bg', );
$categorie-bg-name: 'categorie-bg';
$categorie-bg-x: 413px;
$categorie-bg-y: 159px;
$categorie-bg-offset-x: -413px;
$categorie-bg-offset-y: -159px;
$categorie-bg-width: 38px;
$categorie-bg-height: 37px;
$categorie-bg-total-width: 451px;
$categorie-bg-total-height: 378px;
$categorie-bg-image: '../../img/sprite.png';
$categorie-bg: (413px, 159px, -413px, -159px, 38px, 37px, 451px, 378px, '../../img/sprite.png', 'categorie-bg', );
$categorie-name: 'categorie';
$categorie-x: 300px;
$categorie-y: 290px;
$categorie-offset-x: -300px;
$categorie-offset-y: -290px;
$categorie-width: 35px;
$categorie-height: 35px;
$categorie-total-width: 451px;
$categorie-total-height: 378px;
$categorie-image: '../../img/sprite.png';
$categorie: (300px, 290px, -300px, -290px, 35px, 35px, 451px, 378px, '../../img/sprite.png', 'categorie', );
$cloud-name: 'cloud';
$cloud-x: 0px;
$cloud-y: 0px;
$cloud-offset-x: 0px;
$cloud-offset-y: 0px;
$cloud-width: 285px;
$cloud-height: 226px;
$cloud-total-width: 451px;
$cloud-total-height: 378px;
$cloud-image: '../../img/sprite.png';
$cloud: (0px, 0px, 0px, 0px, 285px, 226px, 451px, 378px, '../../img/sprite.png', 'cloud', );
$color-name: 'color';
$color-x: 433px;
$color-y: 196px;
$color-offset-x: -433px;
$color-offset-y: -196px;
$color-width: 17px;
$color-height: 17px;
$color-total-width: 451px;
$color-total-height: 378px;
$color-image: '../../img/sprite.png';
$color: (433px, 196px, -433px, -196px, 17px, 17px, 451px, 378px, '../../img/sprite.png', 'color', );
$delete-name: 'delete';
$delete-x: 214px;
$delete-y: 327px;
$delete-offset-x: -214px;
$delete-offset-y: -327px;
$delete-width: 14px;
$delete-height: 18px;
$delete-total-width: 451px;
$delete-total-height: 378px;
$delete-image: '../../img/sprite.png';
$delete: (214px, 327px, -214px, -327px, 14px, 18px, 451px, 378px, '../../img/sprite.png', 'delete', );
$facebook-name: 'facebook';
$facebook-x: 189px;
$facebook-y: 290px;
$facebook-offset-x: -189px;
$facebook-offset-y: -290px;
$facebook-width: 37px;
$facebook-height: 37px;
$facebook-total-width: 451px;
$facebook-total-height: 378px;
$facebook-image: '../../img/sprite.png';
$facebook: (189px, 290px, -189px, -290px, 37px, 37px, 451px, 378px, '../../img/sprite.png', 'facebook', );
$fb-like-name: 'fb-like';
$fb-like-x: 400px;
$fb-like-y: 290px;
$fb-like-offset-x: -400px;
$fb-like-offset-y: -290px;
$fb-like-width: 51px;
$fb-like-height: 20px;
$fb-like-total-width: 451px;
$fb-like-total-height: 378px;
$fb-like-image: '../../img/sprite.png';
$fb-like: (400px, 290px, -400px, -290px, 51px, 20px, 451px, 378px, '../../img/sprite.png', 'fb-like', );
$google-name: 'google';
$google-x: 226px;
$google-y: 290px;
$google-offset-x: -226px;
$google-offset-y: -290px;
$google-width: 37px;
$google-height: 37px;
$google-total-width: 451px;
$google-total-height: 378px;
$google-image: '../../img/sprite.png';
$google: (226px, 290px, -226px, -290px, 37px, 37px, 451px, 378px, '../../img/sprite.png', 'google', );
$grid-name: 'grid';
$grid-x: 408px;
$grid-y: 263px;
$grid-offset-x: -408px;
$grid-offset-y: -263px;
$grid-width: 16px;
$grid-height: 16px;
$grid-total-width: 451px;
$grid-total-height: 378px;
$grid-image: '../../img/sprite.png';
$grid: (408px, 263px, -408px, -263px, 16px, 16px, 451px, 378px, '../../img/sprite.png', 'grid', );
$ios-name: 'ios';
$ios-x: 152px;
$ios-y: 327px;
$ios-offset-x: -152px;
$ios-offset-y: -327px;
$ios-width: 31px;
$ios-height: 38px;
$ios-total-width: 451px;
$ios-total-height: 378px;
$ios-image: '../../img/sprite.png';
$ios: (152px, 327px, -152px, -327px, 31px, 38px, 451px, 378px, '../../img/sprite.png', 'ios', );
$pdf-name: 'pdf';
$pdf-x: 0px;
$pdf-y: 226px;
$pdf-offset-x: 0px;
$pdf-offset-y: -226px;
$pdf-width: 152px;
$pdf-height: 152px;
$pdf-total-width: 451px;
$pdf-total-height: 378px;
$pdf-image: '../../img/sprite.png';
$pdf: (0px, 226px, 0px, -226px, 152px, 152px, 451px, 378px, '../../img/sprite.png', 'pdf', );
$pinterest-name: 'pinterest';
$pinterest-x: 263px;
$pinterest-y: 290px;
$pinterest-offset-x: -263px;
$pinterest-offset-y: -290px;
$pinterest-width: 37px;
$pinterest-height: 37px;
$pinterest-total-width: 451px;
$pinterest-total-height: 378px;
$pinterest-image: '../../img/sprite.png';
$pinterest: (263px, 290px, -263px, -290px, 37px, 37px, 451px, 378px, '../../img/sprite.png', 'pinterest', );
$radius-name: 'radius';
$radius-x: 413px;
$radius-y: 196px;
$radius-offset-x: -413px;
$radius-offset-y: -196px;
$radius-width: 20px;
$radius-height: 20px;
$radius-total-width: 451px;
$radius-total-height: 378px;
$radius-image: '../../img/sprite.png';
$radius: (413px, 196px, -413px, -196px, 20px, 20px, 451px, 378px, '../../img/sprite.png', 'radius', );
$star-name: 'star';
$star-x: 285px;
$star-y: 0px;
$star-offset-x: -285px;
$star-offset-y: 0px;
$star-width: 166px;
$star-height: 159px;
$star-total-width: 451px;
$star-total-height: 378px;
$star-image: '../../img/sprite.png';
$star: (285px, 0px, -285px, 0px, 166px, 159px, 451px, 378px, '../../img/sprite.png', 'star', );
$twitter-name: 'twitter';
$twitter-x: 152px;
$twitter-y: 290px;
$twitter-offset-x: -152px;
$twitter-offset-y: -290px;
$twitter-width: 37px;
$twitter-height: 37px;
$twitter-total-width: 451px;
$twitter-total-height: 378px;
$twitter-image: '../../img/sprite.png';
$twitter: (152px, 290px, -152px, -290px, 37px, 37px, 451px, 378px, '../../img/sprite.png', 'twitter', );
$upload-name: 'upload';
$upload-x: 408px;
$upload-y: 226px;
$upload-offset-x: -408px;
$upload-offset-y: -226px;
$upload-width: 38px;
$upload-height: 37px;
$upload-total-width: 451px;
$upload-total-height: 378px;
$upload-image: '../../img/sprite.png';
$upload: (408px, 226px, -408px, -226px, 38px, 37px, 451px, 378px, '../../img/sprite.png', 'upload', );
$spritesheet-width: 451px;
$spritesheet-height: 378px;
$spritesheet-image: '../../img/sprite.png';
$spritesheet-sprites: ($1, $2, $3, $4, $5, $6, $all, $android, $bg, $categorie-bg, $categorie, $cloud, $color, $delete, $facebook, $fb-like, $google, $grid, $ios, $pdf, $pinterest, $radius, $star, $twitter, $upload, );
$spritesheet: (451px, 378px, '../../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
