@mixin font-face($style-name, $file, $weight) {
  $filepath: "fonts/" + $file;
  @font-face {
    font-family: #{$style-name};
    src:  url($filepath + ".eot");
    src:  url($filepath + ".eot?#iefix") format('embedded-opentype'),
    url($filepath + ".ttf")  format('truetype'),
    url($filepath + ".woff") format('woff');
    font-weight: $weight;
    font-style: normal;
  }
}

@mixin gradient($c1, $c2){
  background-image: -ms-linear-gradient(top, $c1 0%, $c2 100%);
  background-image: -moz-linear-gradient(top, $c1 0%, $c2 100%);
  background-image: -o-linear-gradient(top, $c1 0%, $c2 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, $c1), color-stop(100, $c2));
  background-image: -webkit-linear-gradient(top, $c1 0%, $c2 100%);
  background-image: linear-gradient(to bottom, $c1 0%, $c2 100%);
}

@include font-face('OpenSans',   				'OpenSans', 400);
@include font-face('OpenSans-Bold',   			'OpenSans-Bold', 700);
@include font-face('SanFranciscoText-Regular',  'SanFranciscoText-Regular', 400);
@include font-face('SanFranciscoText-Medium',   'SanFranciscoText-Medium', 600);
@include font-face('SanFranciscoText-Semibold', 'SanFranciscoText-Semibold', 800);

$white: #fff;
$gray: 	#b3b3b3;
$grayLight: #e3e3e3;
$gray-gategory: #999;
$grayBorder: #ccc;
$black: #2d3232;
$green: #bdfb00;

$OpenSans:                 'OpenSans', Arial;
$OpenSansBold:             'OpenSans-Bold', Arial;
$SanFranciscoTextRegular:  'SanFranciscoText-Regular', Arial;
$SanFranciscoTextMedium:   'SanFranciscoText-Medium', Arial;
$SanFranciscoTextSemibold: 'SanFranciscoText-Semibold', Arial;

