header {
  height: 65px;
  background: $black;
  .other-links {
    font-family: $SanFranciscoTextRegular;
    p {
      color: #748282;
      margin-left: 25px;
      font-size: 14px;
      line-height: 65px;
      float: left;
      margin-right: 6px;
    }
    .useful-links {
      list-style-type: none;
      margin: 0;
      .link {
        float: left;
        a {
          color: $white;
          line-height: 65px;
          padding: 0 14px;
          text-decoration: none;
          font-size: 14px;
          &:hover {
            text-decoration: underline;
          }
        }
        &:first-child {
          a {
            border-right: 1px solid #434b4b;
          }
        }
      }
    }
  }
  .logo {
    color: $white;
    line-height: 65px;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    font-family: $OpenSansBold;
    .green {
      font-weight: normal;
      font-family: $OpenSans;
    }
  }
  .social-media {
    margin-top: 21px;
    float: right;
    iframe {
      overflow: hidden;
      width: 38%;
      height: 44px;
    }
    li {
      float: left;
      .twitter-share-button {
        position: relative;
        height: 20px;
        width: 68px !important;
        padding: 1px 8px 1px 6px;
        font-weight: 500;
        color: #fff;
        cursor: pointer;
        background-color: #1b95e0;
        border-radius: 3px;
        box-sizing: border-box;
        margin-right: 30px;
      }
    }
  }
}
