.popup{
	display: none;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(68, 78, 76, 0.83);
	z-index: 1;
	position: fixed;
	.block-download{
		width: 760px;
		min-height: 673px;
		background: $white;
		border-radius: 16px;
		margin: 97px auto;
		text-align: center;
	}
	.title-popup{
		font-size: 54px;
		font-family: $SanFranciscoTextSemibold;
		color: #333;
		margin-top: 18px;
		display: inline-block;
	}	
	.description{
		font-family: $SanFranciscoTextMedium;
		font-size: 14px;
		color: #333;
		margin-top: 7px;
	}
	.slink{
		margin: 12px 0 11px;
		.social-media{
			width: 37px;
			height: 37px;
			display: inline-block;
			margin-right: 7px;
		}		
	}
	.icon{
		width: 152px;
		height: 152px;
		margin: 2px auto 0;
		canvas{
			width: 152px;
			height: 152px;
		}
	}
	.btns-size{
		margin-top: 15px;
		button{
			background: #009cfa;
			margin-right: 10px;
			cursor: pointer;
			border: none;
			padding: 5px;
			border-radius: 4px;
			color: #fff;
			text-decoration: none;
			&:last-child{
				margin-right: 0;
			}
			&:hover{
				background: #065b8e;
			}
			&.btn-size{
				background: #065b8e;
			}
		}
	}	

	.btn-download{
		&:hover{
			border: 1px solid #81aa05;
		}
		font-size: 24px;
		width: 264px;
		height: 57px;
		color: #25441a;
		font-family: $SanFranciscoTextSemibold;
		padding-top: 18px;
		display: inline-block;
		margin-top: 18px;
		border-radius: 3px;
		em{
			font-size: 12px;
			color: #57784b;
			font-family: $SanFranciscoTextMedium;
			display: block;
		}
	}
	.ligne{
		width: 130px;
		border-top: 1px solid #e6e6e6;
		border-left: 1px solid #e6e6e6; 
		margin: 23px auto 20px;
	}
	.download-mobile{
		margin: 10px 0;
		.android{
			display: inline-block;
			width: 30px;
			height: 34px;
			margin-right: 13px;
		}
		.ios{
			display: inline-block;
			width: 31px;
			height: 38px;
		}
	}
	.block-mobile{
		height: 55px;
	}
	.btn-download-mobile{
		&:hover{
			border: 1px solid #999;
		}
		width: 214px;
		height: 39px;
		border-radius: 4px;
		border: 1px solid $grayBorder;
		background: $white;
		display: block;
		margin: 0 auto;
		@include gradient($white, #f1f1f1);
		font-family: $SanFranciscoTextSemibold;
		font-size: 16px;
		color: #333;
		text-decoration: none;
		padding-top: 13px;
		em{
			font-family: $SanFranciscoTextMedium;
			font-size: 12px;
			color: #808080;
			display: block;
		}
	}
	.send-icon{
		display: none;
		.text{
			width: 250px;
			height: 40px;
			border-radius: 4px 0 0 4px;
			border: 1px solid $grayBorder;
			padding-left: 22px;
			outline: 0;
			box-shadow: inset 0 1px 2px rgba(204, 204, 204, 0.8);
		}
		.btn-green{
			width: 80px;
			height: 44px;
			border: 1px solid #a9e000;
			color: #25441a;
			font-family: Calibri;
			font-size: 18px;
			font-weight: bold;
			border-radius: 0 4px 4px 0;
			cursor: pointer;
			outline: 0;
			margin-left: -1px;
			vertical-align: top;
		}
	}
	.footer{
		margin-top: 23px;
		.like-fb{
			float: left;
			margin-left: 21px;		
			font-family: $SanFranciscoTextRegular;
			font-size: 12px;
			color: #333;
			text-decoration: none;
			.btn-like{
				width: 51px;
				height: 20px;
				display: inline-block;
				margin-right: 6px;
				vertical-align: text-bottom;
			}		
		}	
		.close{
			float: right;
			font-family: $SanFranciscoTextRegular;
			font-size: 14px;
			color: #0090ff;
			margin: 5px 33px 0 0;
			text-decoration: none;
		}	
	}

}