.title-catagories{
  font-size: 16px;
  font-family: $SanFranciscoTextSemibold;
  height: 50px;
  border-bottom: 1px solid $grayLight;
  padding-left: 25px;
  line-height: 50px;
  color: #4c4c4c;
}
.catagorie{
  cursor: pointer;
}
.items{
  padding: 18px 29px;
  border-bottom: 1px solid $grayLight;
  display: none;
  cursor: default;
  .item{
    display: inline-block;
    margin-bottom: 40px;
    cursor: -webkit-grab;
    width: 64px;
    height: 64px;
    .icon-svg{
      width: 100%;
      height: 100%;
    }
    &:nth-child(even){
      float: right;
    }
    &:nth-last-of-type(-n+2){
      margin-bottom: 0;
    }
  }
}
.title-catagorie{
  .active{
    transition: opacity 1s;
    opacity: 0;
  }
  &.active:before{
    opacity: 1;
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #fff;
    bottom: -7px;
    z-index: 1;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: $grayLight;
    left: 43%;
    transform: rotate(45deg);
  }
  position: relative;
  font-family: $SanFranciscoTextRegular;
  font-size: 18px;
  color: #999999;
  text-decoration: none;
  height: 63px;
  line-height: 63px;
  padding-left: 25px;
  border-bottom: 1px solid $grayLight;
  display: block;
}
.icon-categorie{
  vertical-align: middle;
  margin-right: 9px;
  margin-top: -1px;
}
.nav-element{
  width: 240px;
  background: $white;
  overflow-y:scroll;
  overflow-x: hidden;
  height: 100%;
  position: fixed;
  box-shadow: 0px 0px 20px 0px rgba(23, 23, 23, 0.22);
  &::-webkit-scrollbar{
    width:10px;
    background-color:$gray;
    opacity: 0;
  }
  &::-webkit-scrollbar-thumb{
    background-color:#f4f4f4;
    border-radius:10px;
    border:2px solid #b3b3b3;
    opacity: 1;
  }
  &::-webkit-scrollbar-thumb:hover{
    background-color:#eae8e8;
    border:2px solid #b3b3b3;
    cursor: pointer;
  }
}
.upload-elment{
  text-align: center;
  border-bottom: 1px solid $grayLight;
  padding: 17px 0 13px;
  .icon-upload{
    margin-bottom: 10px;
    .icon-svg{
      width: 210px;
      height: 160px;
      cursor: -webkit-grab;
    }
  }
  p{
    font-size: 14px;
    font-family: $SanFranciscoTextRegular;
    color: #666;
    margin-bottom: 12px;
  }
  .btn-upload {
    visibility: hidden;
    width: 0;
    position: relative;
    margin-bottom: 17px;
  }
  .btn-upload::before {
    content: 'Upload';
    display: inline-block;
    @include gradient($white, #f1f1f1);
    border: 1px solid $grayBorder;
    color: #666;
    width: 134px;
    height: 38px;
    line-height: 38px;
    border-radius: 3px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-size: 16px;
    visibility: visible;
    position: absolute;
    right: -68px;
    text-align: center;
    font-family: $SanFranciscoTextSemibold;
  }
  .btn-upload:hover::before {
    border-color: $gray-gategory;
  }
  .btn-upload:active::before {
    @include gradient($white, #f1f1f1);
  }
}